[manager]
layout         = [ 1, 4, 3 ]
sort_by        = "alphabetical"
sort_sensitive = false
sort_reverse   = false
sort_dir_first = true
linemode       = "none"
show_hidden    = false
show_symlink   = true
image_preview_protocol = "kitty"

[preview]
tab_size        = 2
max_width       = 1500
max_height      = 1500
image_filter    = "triangle"
image_quality   = 75
sixel_fraction  = 15

[opener]
edit = [
	{ run = 'nvim "$@"', block = true, desc = "Neovim", for = "unix" },
]
play = [
	{ run = 'mpv "$@"', orphan = true, for = "unix" },
]
open = [
	{ run = 'xdg-open "$@"', desc = "Open", for = "unix" },
]
extract = [
	{ run = 'ouch decompress "$@"', desc = "Extract with Ouch", for = "unix" },
]

[open]
rules = [
	{ name = "*/", use = [ "edit", "open" ] },
	{ mime = "text/*", use = [ "edit" ] },
	{ mime = "application/json", use = [ "edit" ] },
	{ mime = "application/zip", use = [ "extract" ] },
	{ mime = "application/gzip", use = [ "extract" ] },
	{ mime = "application/x-tar", use = [ "extract" ] },
	{ mime = "application/x-7z-indexed", use = [ "extract" ] },
	{ mime = "application/x-rar", use = [ "extract" ] },
	{ mime = "video/*", use = [ "play", "open" ] },
	{ mime = "image/*", use = [ "open" ] },
	{ mime = "*", use = [ "open" ] },
]

[plugin]
prepend_previewers = [
  { mime = "video/*", run = "video" },
]
